<nav class="side-menu clearfix">

  <ul class="category-icon-list has-transition">
    <li>
      <img class="category-icon" src="/img/icon-angularjs.png"/>
    </li>
  </ul>

  <ul class="category-list has-transition">

    <li class="category" category="angularjs">
      AngularJS
    </li>
  </ul>

  <ul class="angularjs post-list has-transition">
    {% for post in site.categories.angularjs reversed %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<div class="close-trigger">

</div>