.profile-info-container {
  margin: 30px 0;

  .user-name {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .user-info {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;

    a {
      color: inherit;

      &:hover {
        color: #cccccc;
      }
    }
  }

  .avatar {
    width: 104px;
    height: 104px;
    border-radius: 50%;
  }

  img {
    width: 16px;
    height: 16px;
  }

}

.libraries-container {
  .library {
    margin-bottom: 40px;
  }
}

.tutorial-list {
  list-style-type: none;

  li {
    list-style-type: none;
  }
  margin-top: 160px;
}